        <div class="main-inner">
            <div class="content">
                <div class="mt-80 mb80">
    <div class="detail-banner" [style.background-image]="getSpreadImage()">
    <div class="container">
        <div class="detail-banner-left">
            <div class="detail-banner-info">
                <div class="detail-verified">Verified</div>
            </div><!-- /.detail-banner-info -->

            <h2 class="detail-title">
              {{agency?.name}}
            </h2>

            <div class="detail-banner-address">
                <i class="fa fa-map-o"></i> {{agency?.country.name}}, {{agency?.city}}
            </div><!-- /.detail-banner-address -->

        </div><!-- /.detail-banner-left -->
    </div><!-- /.container -->
</div><!-- /.detail-banner -->

</div>

<div class="container">
    <div class="row detail-content">
    <div class="col-sm-7">
        <div class="detail-gallery" *ngIf="images.length > 0">

            <div class="detail-gallery-preview">
                <a href="/api/image/{{firstImage?.relatedImageId}}">
                    <img src="/api/image/{{firstImage?.relatedImageId}}">
                </a>
            </div>

            <ul class="detail-gallery-index">
                <li class="detail-gallery-list-item active" *ngFor="let image of images">
                    <a attr.data-target="/api/image/{{image.relatedImageId}}">
                        <img src="/api/image/{{image.id}}" alt="...">
                    </a>
                </li>
            </ul>
        </div><!-- /.detail-gallery -->
    </div><!-- /.col-sm-7 -->

    <div class="col-sm-5">

        <h2>About <span class="text-secondary">{{agency?.name}}</span></h2>
        <div class="background-white p20">
            <div class="detail-vcard">
                <div class="detail-contact">
                    <div class="detail-contact-email">
                        <i class="fa fa-envelope-o"></i> <a href="mailto:{{agency?.email}}">{{agency?.email}}</a>
                    </div>
                    <div class="detail-contact-phone" *ngIf="agency?.phone">
                        <i class="fa fa-mobile-phone"></i> <a href="tel:{{agency?.phone}}">{{agency?.phone}}</a>
                    </div>
                    <div class="detail-contact-website" *ngIf="agency?.website">
                        <i class="fa fa-globe"></i> <a href="{{agency?.website}}" target="_blank">{{agency?.website}}</a>
                    </div>
                    <div class="detail-contact-address">
                        <i class="fa fa-map-o"></i>
                      {{agency?.country.name}}, {{agency?.city}}
                    </div>
                </div><!-- /.detail-contact -->
            </div><!-- /.detail-vcard -->

            <div class="detail-description">
                <p style="white-space: pre-wrap">{{agency?.description}}</p>
            </div>

            <div class="detail-follow">
                <h5>Social</h5>
                <div class="follow-wrapper">
                    <a class="follow-btn facebook" href="{{agency?.facebook}}" *ngIf="agency?.facebook" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="follow-btn twitter" href="{{agency?.twitter}}" *ngIf="agency?.twitter" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div><!-- /.follow-wrapper -->
            </div><!-- /.detail-follow -->
        </div>

    </div><!-- /.col-sm-5 -->

    <div class="col-sm-12">
      <ng-container *ngFor="let package of agency?.packages">
        <ng-container *ngIf="activePackage ? (package.id == activePackage) : true">
        <div class="row">
          <div class="col-md-6 text-left">
            <h2>{{package.name}}</h2> <!-- <a href="javascript:;" onclick="togglePackage(this)"> -->
          </div>
          <div class="col-md-6 text-right">
            <h2>{{package.price}} EUR</h2> <!-- <a href="javascript:;" onclick="togglePackage(this)"> -->
          </div>
        </div>
          <div class="background-white p20" style="margin-bottom: 20px;" *ngIf="package.description">
              <div class="detail-description" style="margin-bottom: 0px; padding-bottom: 0px; border: 0px">
                  <p style="white-space: pre-wrap">{{package.description}}</p>
              </div>
          </div>
        <div class="row" id="packageRow{{package.id}}"> <!-- [ngClass]="{'hidden': activePackage != package.id}" -->
          <div class="categories">
            <ng-container *ngFor="let category of categories">
              <div class="col-md-3 col-xs-12 col-sm-4 category" *ngIf="hasAttributesForCategory(package, category)">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{category.name}}</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="detail-amenities text-left">
                      <ng-container *ngFor="let packageAttribute of package.attributes">
                        <li class="yes" *ngIf="packageAttribute.category.id == category.id">
                          {{packageAttribute.attribute.name}}
                        </li>
                      </ng-container>
                    </ul>
                    <ul class="list-group text-left" [hidden]="hasAttributesForCategory(package, category)">
                      <li class="no">Not available</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <hr class="col-md-12" />
      </ng-container>
      </ng-container>

      <h2>Enquire Form</h2>

      <div class="detail-enquire-form background-white p20">
          <div class="form-group" style="text-align:center" *ngIf="emailSendStatus === 'sent'">
              <h3>Thanks! Your enquiry has been sent!</h3>
          </div>
        <form method="post" action="?" *ngIf="emailSendStatus !== 'sent'">
          <div class="form-group">
              <label>Name <span class="required">*</span></label>
              <input type="text" name="name" class="form-control" [(ngModel)]="email.name" required #name="ngModel"/>
          </div><!-- /.form-group -->

          <div class="form-group">
            <label>Email <span class="required">*</span></label>
            <input type="text" name="mail" class="form-control" [(ngModel)]="email.email" required #mail="ngModel"/>
          </div><!-- /.form-group -->

          <div class="form-group">
            <label>Message <span class="required">*</span></label>
            <textarea name="message" class="form-control" [(ngModel)]="email.message" required #message="ngModel"></textarea>
          </div><!-- /.form-group -->

          <p>Required fields are marked <span class="required">*</span></p>

          <button class="btn btn-primary btn-block" type="submit" (click)="sendEmail()" (disabled)="emailSendStatus === 'sending'"><i class="fa fa-paper-plane"></i>Send Message</button>
        </form>
      </div><!-- /.detail-enquire-form -->
    </div>

</div><!-- /.row -->

</div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
