        <div class="main-inner">
            <div class="content">
                <div class="mt-150">
    <div class="hero-image">
    <div class="hero-image-inner" style="background-image: url('assets/img/banners/frontpage.jpg');">
        <div class="hero-image-content">
            <div class="container">
                <h1>Palm Tree Wedding</h1>

                <p>Find the wedding package of your dreams today.<br>Browse through our collection to pick the best spor for your wedding</p>

                <a routerLink="/search" class="btn btn-primary btn-lg">View Packages</a>
                <!--a href="listing-submit.html" class="btn btn-secondary btn-lg">Submit</a -->
            </div><!-- /.container -->
        </div><!-- /.hero-image-content -->

        <div class="hero-image-form-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-7">
                        <form method="get" action="?">
                            <h2>Start Searching</h2>

                            <div class="hero-image-keyword form-group">
                                <input id="keyword" name="keyword" type="text" class="form-control"
                                       placeholder="Keyword" [(ngModel)]="searchFilter.keyword" #keyword="ngModel">
                            </div><!-- /.form-group -->

                            <div class="hero-image-location form-group">
                                <select id="country" name="country" class="form-control selectpicker" title="Country"
                                        [(ngModel)]="searchFilter.countryId" #country="ngModel">
                                    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="hero-image-category form-group">
                                <select id="location" name="location" class="form-control selectpicker" title="Location">
                                    <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="hero-image-price form-group">
                                <input id="maxPrice" name="maxPrice" type="text" class="form-control"
                                       placeholder="Max Price" [(ngModel)]="searchFilter.maxPrice" #maxPrice="ngModel">
                            </div><!-- /.form-group -->

                            <button class="btn btn-primary btn-block" (click)="search()">Search</button>
                        </form>
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hero-image-form-wrapper -->
    </div><!-- /.hero-image-inner -->
</div><!-- /.hero-image -->

</div>

<div class="container">

    <div class="page-header">
    <h1>Most Recent Wedding Packages</h1>
    <p>List of most recent romantic wedding packages. Check out these locations right now!</p>
</div><!-- /.page-header -->

<div class="cards-simple-wrapper" *ngIf="packages">
    <div class="row">
            <div class="col-sm-6 col-md-3" *ngFor="let package of packages">
                <div class="card-simple" [style.background-image]="getListImage(package)">
                    <div class="card-simple-background">
                        <div class="card-simple-content">
                            <h2><a href="listing-detail.html">{{package.name}}</a></h2>
                            <div class="card-simple-rating">
                                {{package.weddingAgency.name}}
                            </div><!-- /.card-rating -->

                            <div class="card-simple-actions">
                                <!--a href="#" class="fa fa-bookmark-o"></a -->
                                <a [routerLink]="['/agency', package.weddingAgency.seolink]" [queryParams]="{ package: package.id }" class="fa fa-search"></a>
                                <!--a href="#" class="fa fa-heart-o"></a -->
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">{{package.weddingAgency.country.name}}</div>

                        <div class="card-simple-price">{{package.price}} EUR</div>

                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->

    </div><!-- /.row -->
</div><!-- /.cards-simple-wrapper -->


</div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
