<div class="main-inner">
    <div class="container">
        <div class="content">

            <div class="document-title">
                <h1>Wedding packages</h1>
            </div><!-- /.document-title -->

            <form #searchForm="ngForm" novalidate class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input id="keyword" name="keyword" type="text" class="form-control"
                                 placeholder="Keyword" [(ngModel)]="searchFilter.keyword" #keyword="ngModel">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <select name="country" class="form-control" [(ngModel)]="searchFilter.countryId" #country="ngModel" title="Select Location">
                                <option value="0" disabled selected>Select Country</option>
                                <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                           <input type="number" name="maxPrice" class="form-control" placeholder="Max price"
                                [(ngModel)]="searchFilter.maxPrice" #maxPrice="ngModel" />
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->

                <hr>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="filter-actions">
                            <a href="javascript:;" (click)="reset()"><i class="fa fa-close"></i> Reset Filter</a>
                        </div><!-- /.filter-actions -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-2">
                        <div class="form-group">
                            <select title="Sort by" class="form-control" name="sortField" [(ngModel)]="pageInfo.sortField" #sortField="ngModel">
                                <option value="name">Package name</option>
                                <option value="weddingAgency.country.name">Country</option>
                                <option value="weddingAgency.name">Agency name</option>
                                <option value="price">Package price</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select title="Order" class="form-control" name="sortDirection" [(ngModel)]="pageInfo.sortDirection" #sortDirection="ngModel">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button id="searchButton" (click)="search()" type="submit" data-loading-text="Just a sec..."
				            class="btn btn-primary" >Search</button>
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </form>

            <div class="cards-row" *ngIf="packages">

                <div class="card-row" *ngFor="let package of packages?.list">
                    <div class="card-row-inner">
                        <div class="card-row-image" [style.background-image]="getListImage(package)">

                        </div><!-- /.card-row-image -->

                        <div class="card-row-body">
                            <h2 class="card-row-title">
                               <a [routerLink]="['/agency', package.weddingAgency.seolink]" [queryParams]="{ package: package.id }">{{package.name}}</a>
                            </h2>
                            <div class="card-row-content">
                                <p style="white-space: pre-wrap">{{package.description}}</p>
                            </div><!-- /.card-row-content -->
                        </div><!-- /.card-row-body -->

                        <div class="card-row-properties">
                            <dl>

                                <dd>Price</dd>
                                <dt>{{package.price}} EUR</dt>


                                <dd>Agency</dd>
                                <dt>{{package.weddingAgency.name}}</dt>


                                <dd>Location</dd>
                                <dt>{{package.weddingAgency.country.name}}</dt>
                            </dl>
                        </div><!-- /.card-row-properties -->
                    </div><!-- /.card-row-inner -->
                </div><!-- /.card-row -->

            </div><!-- /.cards-row -->


            <div class="pager">
                <ul>
                    <li [class.disabled]="packages?.currentPage == 0">
                        <a href="javascript:void(0)" (click)="changePage(packages?.currentPage - 1)">&laquo; Prev</a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)">{{packages.currentPage + 1}}</a>
                    </li>
                    <li [class.disabled]="packages?.currentPage == (packages.lastPage - 1)">
                        <a href="javascript:void(0)" (click)="changePage(packages?.currentPage + 1)">Next &raquo;</a>
                    </li>
                </ul>
            </div><!-- /.pagination -->


        </div><!-- /.content -->
    </div><!-- /.container -->
</div>
<!-- /.main-inner -->
